#serverInfo {
  color: white;
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.serverInfo__serverName {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 20px;
  align-items: center;
  width: 100%;
}

.serverInfo__textChannelsContainer {
  padding-top: 20px;
  padding-left: 20px;
  height: 100%;
}

.serverInfo__textChannelsContainer p {
  color: grey;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
}

.serverInfo__textChannels {
  margin-top: 10px;
  border-top: 1px solid rgb(72, 72, 72);
  height: 90%;
  width: 95%;
}

.serverInfo__textChannel {
  margin: 7px 0;
  font-weight: 600;
  padding: 8px;
  font-size: 14px;
  color: grey;
  border-radius: 5px;
}

.serverInfo__textChannel:hover {
  color: lightgrey;
  cursor: pointer;
  background-color: rgb(67, 66, 66);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
